<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musicType</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    
    <link rel="icon" href="/static/icon.webp">
</head>

<body>
    <h1>{{ video_data.title }}</h1>
    <p class="notes">{{ video_data.notes }}</p>
    <div id="player"></div>
    <div id="typing">
        <noscript>
            <p class="msg">本ゲームをプレイするにはJavaScriptを有効化してください。</p>
        </noscript>
        <p class="prepare"></p>
        <p><span class="finishedStr"></span><span class="yetStr"></span></p>
        <p>経過時間:<span class="time"></span></p>
    </div>
    <script src="/static/play/script.js"></script>

</body>

</html>